*.class
*.jar
.cache
.shadow-cljs
/*-init.clj
/.cpcache
/.lein-*
/.nrepl-port
/.rebel_readline_history
/checkouts
/classes
/dev/dist
/dev/out
/dist
/doc/dist
/node_modules
/out
/repl
/settings.xml
/target
pom.xml.asc
