{:cljdoc.doc/tree [["Promises"
                    {:file "doc/promises.md"}]
                   ["Scheduling & Executors"
                    {:file "doc/executors.md"}]
                   ["Channels (CSP pattern)"
                    {:file "doc/channels.md"}]
                   ["Bulkhead (concurrency limiter)"
                    {:file "doc/bulkhead.md"}]
                   ["Changelog" {:file "CHANGELOG.md"}]]}
